//nextflow.config
nextflow.enable.dsl = 2


//=============================================================================
// PROFILES - needs to be updated to include containers
//=============================================================================
profiles {

    local {
        process = [
            executor : 'local',
            cpus     : 1
        ]

        conda = [
            enabled       : true,
            cacheDir      : "${baseDir}/conda_cache",
            useMicromamba : false,
            condaOptions  : '--solver classic'
        ]
    }

    hpc {
        beforeScript = 'source /home/martinp4/anaconda3/etc/profile.d/conda.sh'

        process = [
            executor : 'slurm',
            queue    : 'defq',
            cpus     : 1,
            memory   : '64 GB',
            time     : '48h',
            scratch  : true
        ]

        executor = [
            queueSize : 20
        ]

        conda = [
            enabled       : true,
            cacheDir      : "${baseDir}/conda_cache",
            useMicromamba : false,
            condaOptions  : '--solver classic'
        ]
    }
}


//=============================================================================
// PARAMS
//=============================================================================
params {

    // Which modules to run
    run_download    = false
    run_integration = false
    run_modelling   = false
    run_report      = true

    // Downloading workflow params
    dwl = [
        scrna_url    : [
            "https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE244477&format=file"
        ],
        ref_url      : [
            "https://ftp.ncbi.nlm.nih.gov/geo/series/GSE123nnn/GSE123335/suppl/GSE123335%5FE14%5Fcombined%5Fmatrix.txt.gz",
            "https://ftp.ncbi.nlm.nih.gov/geo/series/GSE123nnn/GSE123335/suppl/GSE123335%5FE14%5Fcombined%5Fmatrix%5FClusterAnnotations.txt.gz"
        ],
        output_scrna : "${baseDir}/data/scRNA/",
        output_ref   : "${baseDir}/data/ref/"
    ]
    // Integration workflow params
    integration = [
        input    : "${baseDir}/data/scRNA/",
        ref      : "${baseDir}/data/ref",
        tmp      : "${baseDir}/data/tmp_scrna/",
        manifest : 'manifest.txt',
        
    ]
    // Using a single env for now - I will build seperate enrivornemnts
    // 
    modelling = [
        tmp       : "${baseDir}/data/tmp_scrna/",
        annotated : "${params.integration.tmp}/GAND_seurat_annotated.rds",
        gene_sets : [["Chd3", "Foxp1","Foxp2","Satb2"],
                    ["Chd3", "Foxp1","Satb2"],
                    ["Chd3","Foxp2","Satb2"],
                    ["Arx"]],
        mut_genes : ["Foxp1","Foxp2"],
        score_type: ["module","counts"],
        env       : '/home/martinp4/anaconda3/envs/gand_scrna_r/'
    ]

    // Reporting workflow params
    // Note this assumes that the full pipeline has been run
    // if you want to skip some reporting section, change that section
    // to null instead of path to file
    report = [
        annotated : "${baseDir}/data/tmp_scrna/GAND_seurat_annotated.csv",
        mut_genes : "${baseDir}/data/tmp_scrna/mutually_exclusive_genes.csv",
        gene_sets  : "${baseDir}/data/tmp_scrna/*_geneset_list.csv",
        template  : "${baseDir}/bin/scRNA_report_template.Rmd",
        output    : "${baseDir}/results/scRNA",
        env      : '/home/martinp4/anaconda3/envs/gand_scrna_r/'
    ]
}
