//nextflow.config
nextflow.enable.dsl=2

// Compute profiles
profiles {
   base {
        // Run this before every process - annoying config on HPC - 
        // Reason why I will switch to docker for final version
        beforeScript = 'source /home/martinp4/anaconda3/etc/profile.d/conda.sh'
        process {
            executor = 'slurm'
            queue = 'defq'
            cpus = 1
            memory = '32 GB'
            time = '24h'
            scratch = true
        }
        executor {
            queueSize = 10
        }
        conda {
            enabled = true
            cacheDir = "${projectDir}/conda_cache" 
            useMicromamba = false
            condaOptions = '--solver classic'
        }
    }
    intense {
        // Run this before every process - annoying config on HPC - 
        // Reason why I will switch to docker for final version
        beforeScript = 'source /home/martinp4/anaconda3/etc/profile.d/conda.sh'
        process {
            executor = 'slurm'
            queue = 'defq'
            cpus = 1
            memory = '64 GB'
            time = '48h'
            scratch = true
        }
        executor {
            queueSize = 20
        }
        conda {
            enabled = true
            cacheDir = "${projectDir}/conda_cache" 
            useMicromamba = false
            condaOptions = '--solver classic'
        }
    }
}

// Params by workflow
// Centralizing everything for now. 
// Project to small for having seperate config files
// NOTE: using direct paths to conda envs since conda takes ages to build the envs
// and will switch this to docker containers later. yml files for each env are in the env directory
params {
    bigwig {
        input = "${projectDir}/data/BigWig/*.bw"
        tmp = "${projectDir}/data/tmp_bigwig/"
        output = "${projectDir}/results/BigWig/"
        tags = ["CTR_Input", "CTR_GATAD2B", "GAND_Input", "GAND_GATAD2B"]
        env = '/home/martinp4/anaconda3/envs/gand_bw/'
        min_peak_length = 250
        peak_cutoff = 3
        run = true
    }
    scrna_r {
        input = "${projectDir}/data/scRNA/"
        output = "${projectDir}/results/scRNA/"
        tmp = "${projectDir}/data/tmp_scrna/"
        manifest = 'manifest.txt'
        env = '/home/martinp4/anaconda3/envs/gand_scrna_r/'
        build_report = true
        report_template = "${projectDir}/bin/scRNA_report_templayte.Rmd"
        run = false
    }
}


