//nextflow.config
nextflow.enable.dsl=2
includeConfig 'conf/base.config'

profiles {
    bigwig {
        includeConfig 'conf/bigwig.config'
    }
    scrna {
        includeConfig 'conf/scrna.config'
    }
    dev {
        includeConfig 'conf/dev.config'
    }
    prod {
        includeConfig 'conf/prod.config'
    }

}

