//conf/bigwig.config
params {
    input_bw = 'data/BigWig/*.bw'
    tmp_bw = 'data/tmp_bigwig/'
    output_bw = 'results/BigWig/'
    tags = ["CTR_Input", "CTR_GATAD2B", "GAND_Input", "GAND_GATAD2B"]
    bw_envs = '/home/martinp4/anaconda3/envs/gand_bw/'
    min_peak_length = 250
    peak_cutoff = 5
}


