//conf/scrna_R.config
params {
    input_scrna = 'data/scRNA/'
    output_scrna = 'results/scRNA/'
    tmp_scrna = 'data/tmp_scrna'
    manifest = 'manifest.txt'
    scrna_env_r= '/home/martinp4/anaconda3/envs/gand_scrna_r/'
    build_report = true
    report_template = 'bin/scRNA_report_templayte.Rmd'
}