//conf/scrna.config
params {
    input_scrna = 'data/scRNA/'
    output_scrna = 'results/scRNA/'
    tmp_scrna = 'data/tmp_scrna'
    manifest = 'manifest.txt'
    python_yml = 'envs/gand_scrna.yml'
    r_yml = 'envs/gand_scrnaR.yml'
    use_R = true
    build_report = true
    report_template = 'bin/scRNA_report_templayte.Rmd'
}
